<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Minimal Django File Upload Example</title>
    </head>

    <body>
        {% if document0 %}
            Uploaded image
            <img src="{{document0}}" alt="img" class="img-responsive img-rounded" height="256">
            Related image
            <img src="{{document1}}" alt="img" class="img-responsive img-rounded" height="256">
        {% else %}
            <p>No document.</p>
        {% endif %}

        <!-- Upload form. Note enctype attribute! -->
        <form action="{% url "list" %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>

            <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>

            <p>
                {{ form.docfile.errors }}
                {{ form.docfile }}
            </p>

            <p><input type="submit" value="Upload"/></p>
        </form>
    </body>

</html>
